@font-face {
    font-family: "MapleStory";
    src: url("./assets/fonts/Maplestory Light.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MapleStory";
    src: url("./assets/fonts/Maplestory Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
  font-family:
          "MapleStory",
          "Noto Sans KR",
          sans-serif;

  color: #1d1d1f;
  background: #f2f4f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

html,
body,
button,
input,
textarea,
select {
    font-family: "MapleStory", "Noto Sans KR", sans-serif;
}