html {
    color: var(--color-text);
    background: var(--color-background);

}

body {
    min-width: 320px;
    margin: 0;


    color: var(--color-text);
    background: var(--color-background);

}

button,
input {
    font-family: inherit;
}